.webcam-main-view video,
.main-video {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.main-video-minimized .main-video {
  top: initial;
  right: initial;
  height: 160px;
  width: 240px;
}

.main-video__loader {
  position: fixed;
  width: 400px;
  height: 200px;
  top: calc(50% - 100px);
  left: calc(50% - 200px);
  z-index: 2;
  overflow: hidden;
  border-radius: 5px;
}

.main-video__picker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  text-align: center;
  margin: auto;
  opacity: 0.8;
  padding: 20px;
}

.video-switcher {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 30;
  opacity: 0.5;
  transition: opacity 200ms ease;
}

.video-switcher:hover {
  opacity: 1;
}