.waiting__header {
  font-size: 100px;
  color: white;
  opacity: 0.7;
  margin-bottom: 0px;
}

.waiting__for-pam {
  opacity: 0.4;
  font-size: 12px;
  text-align: center;
  position: fixed;
  z-index: 11;
  color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
}

.waiting__link {
  border-radius: 4px;
  padding: 10px;
  background: #333;
  color: white;
  opacity: 0.9;
  font-size: 11px;
}

.waiting__sub-header {
  opacity: 0.7;
  font-weight: 200;
  margin: 0px 0px 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid white;
}