@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500,700&display=swap');
body {
  font-family: 'Josefin Sans', sans-serif;
  padding: 0;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: row;
}

body * {
  --darkpurple: #3D3B8E;
  --lightblue: #6883BA;
  --white: #F9F9F9;
  --pink: #E072A4;
  --green: #B0E298;
}

.full-window {
  min-height: 100vh;
}

.half-window-width {
  padding: 60px;
  box-sizing: border-box;
  width: 50vw;
}

.desktop-logo {
  height: 40px;
}

.desktop-heading {
  font-family: 'Playfair Display', serif;
  font-size: 70px;
  margin-top: 80px;
  color: var(--pink);
  text-align: center;
  font-weight: 700;
}

.desktop-blurb {
  max-width: 800px;
  margin: 80px auto 0;
  color: var(--white);
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
}

.desktop-cta {
  background: var(--green);
  padding: 30px;
  font-weight: 700;
  color: var(--darkpurple);
  cursor: pointer;
  border-radius: 3px;
  font-size: 25px;
  text-align: center;
  transition: background-color 100ms ease-in-out;
  font-family: 'Josefin Sans', serif;

}

.desktop-cta:hover {
 background: var(--pink);
}

pink {
  color: var(--pink);
}

.underline {
  text-decoration: underline;
}

.darkpurple {
  background: var(--darkpurple);
}

.white {
  background: var(--white);
}

.browser-frame {
  width: fit-content;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px solid #aaa;
  box-shadow: 5px 5px 50px rgba(0,0,0,0.6);
}

.browser-frame video {
  width: 100%;
}

.browser-toolbar {
  border-bottom: 1px solid #aaa;
  padding: 5px;
}

.browser-toolbar-circle {
  border: 1px solid #aaa;
  height: 4px;
  width: 4px;
  border-radius: 4px;
  margin-right: 2px;
}

.desktop-works-with {
  text-align: center;
  margin: 20px 0;
}

.desktop-logos {
  width: 100%;
}

.layout__box {
  flex: 0 0 auto;
  min-width: 0;
  min-height: 0;
}

.layout__box.o__has-columns {
  display: flex;
  flex-direction: row;
}

.layout__box.o__has-rows {
  display: flex;
  flex-direction: column;
}

.layout__box.o__scrolls {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.layout__box.o__flexes-to-1 {
  flex: 1 1 auto;
}

.layout__box.o__flexes-to-2 {
  flex: 5 1 auto;
}

.layout__box.o__flexes-to-5 {
  flex: 5 1 auto;
}

.layout__box.o__centers-horizontally {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.layout__box.o__centers-vertically {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.layout__box.o__centers-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}