<div class="sidebar w-full flex flex-col">
  <div class="sidebar__logo flex flex-col justify-center">
    <Svg::Logo/>
  </div>
  <Controls />
  {{#if this.videoCallService.ownMediaStream}}
    <MediastreamVideo
      @vemosStream={{this.videoCallService.ownMediaStream}}
      @flipped={{true}}
    />
  {{/if}}
</div>