<div class="centered u__mt__10" style="max-width: min-content;">
  {{input
    enter=(action 'submitChat')
    placeholder="Send a chat!"
    autoresize=true
    autocomplete="off"
    autocorrect="off"
    autocapitalize="off"
    spellcheck="false"
  }}
</div>

<p class="from-remote centered u__mt__10">
  From remote!
</p>