<div style="font-size: 10px; color: white; font-family: sans-serif; word-wrap:break-word;">
  <div>
    Peer is [{{this.peerService.peer}}]
  </div>
  
  <div style="word-wrap:break-word">
    Your ID is [{{this.peerService.peerId}}]
  </div>
  
  <div>
    <Input @value={{this.hostId}} />
  </div>
  <div>
    <button {{on "click" this.testConnection}}>Test</button>
  </div>
</div>