<div class="vemos-splash-frame flex flex-col flex-1 justify-center items-center">
  <span class="vemos-logo">
    <Svg::Logo/>
  </span>
  <div class="layout__box o__flexes-to-1 o__centers-all">
    <div class="layout__box o__has-rows vemos-central">
      <span class="vemos-headphones">
        <Svg::Headphones/>
      </span>

      <div class="vemos-title">Wear headphones to avoid feedback from the video</div>

      <p class="vemos-subtitle">If you don't have headphones, you can prevent feedback by muting yourself while the video is playing by pressing the <span class="vemos-mute">{{inline-svg "icons/mic"}}</span> button on your webcam video.</p>

      <div class="vemos-got-it" {{on "click" this.closeModal}} role="button">Got it</div>
    </div>    
  </div>
</div>