.card {
  background: rgba(0,0,0,0.1);;
  border-radius: 5px;
  padding: 10px;
  color:rgba(255,255,255,0.8);
  font-size: 12px;
}

.card__spacer {
  border-top: 1px solid rgba(255,255,255,0.8);
  padding-top: 20px;
  margin-top: 20px;
}

.card__how-does-it-work {
  font-weight: 200;
  font-size: 20px;
}