.quick-chat {
  position: absolute;
  z-index: 30;
  top: 40px;
  left: 0;
  right: 0;
}

.quick-chat input,
.quick-chat .from-remote {
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: white;
  font-size: 40px;
  font-weight: 100;
  padding: 20px;
  margin: 0 auto;
  max-width: fit-content;
}

.quick-chat .from-remote {
  opacity: 0;
  transition: opacity 250ms ease;
}

.quick-chat .from-remote.visible {
  opacity: 1;
}

.quick-chat input {
  font-size: 20px;
  transition: opacity 200ms ease;
  opacity: 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.quick-chat input:hover {
  opacity: 1;
}

.quick-chat input::selection  {
  color: #ff0080;
}

.quick-chat .centered {
  margin: 0 auto;
}
