.settings__container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  opacity: 0.15;
  transition: opacity 200ms ease;
  padding: 10px;
  z-index: 30;
}

.settings__container:hover {
  opacity: 0.8;
}

.ui.button.settings-button {
  padding: 5px;
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
}