<div class="main-container flex flex-col w-full h-full py-4">
  <FrameStyles />
  {{outlet}}
</div>

<div class="metrics-frame">
  <iframe src="https://vemos.org/metrics" {{did-insert this.setupMetricsService}}></iframe>
</div>