<div class="inline-flex justify-center py-4 controls__button-list">
  <button class="controls__button px-2 py-1 rounded-l">
    {{inline-svg "icons/play" class="fill-current"}}
  </button>
  <button class="controls__button px-2 py-1 o__off">
    {{inline-svg "icons/volume" class="fill-current"}}
  </button>
  <button class="controls__button px-2 py-1 o__off">
    {{inline-svg "icons/cam_off" class="fill-current"}}
  </button>
  <button class="controls__button px-2 py-1 rounded-r">
    {{inline-svg "icons/mic" class="fill-current"}}
  </button>
</div>