<div class="flex flex-col text-white text-center px-2">
  <h1 class="text-2xl my-2">Welcome!</h1>
  <h2 class="text-lg my-2">Let's get started</h2>

  <p class="my-2">1 – First, open the video you want to watch with your friends.</p>
  <p class="my-2">2 – Copy the invite link below.</p>
  <p class="my-2">3 – Send the link to your friends.</p>
  <p class="my-2">4 – Grab some popcorn while you wait for them to join!.</p>
  <InviteButton class="mt-4" />
</div>