<EmberWormhole @destinationElement={{this.parentDomService.container}}>
  <style>
    .vemos-maximize-button {
      position: fixed;
      top: 0px;
      right: 0;
      height: 34px;
      transition: all 200ms ease;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      cursor: pointer;
    }

    .vemos-maximize-button svg {
      height: 10px;
      padding: 12px 8px;
      fill: #ccc;
      transition: all 200ms ease;
    }

    .vemos-maximize-button:hover svg {
      fill: white;
    }

    {{#if this.settingsService.isMinimized}}
      .vemos-maximize-button {
        background: #66339955;
      }
      .vemos-maximize-button:hover {
        background: rebeccapurple;
      }
      .vemos-maximize-button svg {
        fill: white;
        transform: rotate(180deg);
        transform-origin: center;
      }
    {{else}}
      .vemos-maximize-button {
        background: transparent;
      }
    {{/if}}
  </style>
  <div class="vemos-maximize-button" role="button" {{on "click" this.settingsService.toggleMinimized}}>
    <Svg::Chevron />
  </div>
</EmberWormhole>