<div class="layout__box o__has-rows o__flexes-to-1 o__scrolls" {{did-update this.setupOwnStream this.peerService.peerId}}>
  {{#if this.videoCallService.ownMediaStream}}
    <MediastreamVideo
      @vemosStream={{this.videoCallService.ownMediaStream}}
      @flipped={{true}}
    />
  {{/if}}

  {{#each this.videoCallService.peerMediaStreams as |peerStream|}}
    <MediastreamVideo @vemosStream={{peerStream}} />
  {{/each}}
</div>