.mediastream-video {
  width: 100vw;
  height: 76vw;
  margin-bottom: 5px;
}

.mediastream-container {
  position: relative;
  width: 100vw;
  height: 76vw;
  background: black;
}

.mediastream-container:hover .mediastream-controls,
.mediastream-controls.o__muted, .mediastream-controls.o__hidden {
  opacity: 1;
}

.mediastream-controls {
  opacity: 0;
  transition: opacity 100ms ease-in-out;
  position: absolute;

  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  border-radius: 5px;
  padding: 3px;
  svg {
    height: 16px;
    width: 16px;
    fill: white;
    opacity: 0.8;
  }
}

.mediastream-controls.o__ownstream-controls {
  background-color: rgba(12, 12, 12, 0.5);
  bottom: 5px;
  right: 5px;
}

.mediastream-controls.o__audio-controls {
  bottom: 5px;
  right: 5px;
}

.mediastream-controls.o__video-controls {
  bottom: 5px;
  right: 30px;
}

.mediastream-video.o__flipped {
  transform: scaleX(-1);
}

.mediastream__waveform {
  position: absolute;
  height: 20px;
  bottom: 5px;
  left: 5px;
}

.mediastream__waveform-bar {
  margin: 0 1px;
  width: 4px;
  border-radius: 2px;
  min-height: 4px;
  max-height: 100%;
  background-color: limegreen;
  transition: height 100ms linear;
  box-sizing: border-box;
  border: 1px solid rgb(149, 248, 149);
  opacity: 0.9;
}

.mediastream__waveform-bar.o__muted {
  background-color: #c70000;
  border: 1px solid #c70000;
}

.mediastream__waveform-bar.o__small {
  max-height: 75%;
  height: calc(var(--height) / 2);
}

.mediastream__waveform-bar.o__large {
  height: var(--height);
}

.mediastream-default-person {
  position: absolute;
  left: calc(50% - 15px);
  top: calc(50% - 15px);
  svg {
    width: 30px;
    height: 30px;
    fill: rgba(255, 255, 255, 0.5);
  }
}

.mediastream-video__click-to-play-overlay {
  position: absolute;
  background-color: black;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}
