.tooltip-handler {
  opacity: 0;
  position: fixed;
  pointer-events: none;
}

.tooltip__content {
  color: white;
  border-radius: 4px;
  background: #222;
  font-family: sans-serif;
  padding: 4px;
  text-align: center;
}
