html#vemos-html,
body#vemos-body,
body > .ember-view {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  color: #eee;
  font-family: sans-serif;
  font-size: 12px;
}

body#vemos-body > .ember-view {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main-container {
  height: 100%;
}

.metrics-frame {
  height: 0 !important;
  display: none !important;
}

#vemos-body {
  @import "mediastream";
  @import "sidebar";
  @import "manual-connection";

  .layout__box {
    flex: 0 0 auto;
    min-width: 0;
    min-height: 0;
  }

  .layout__box.o__has-columns {
    display: flex;
    flex-direction: row;
  }

  .layout__box.o__has-rows {
    display: flex;
    flex-direction: column;
  }

  .layout__box.o__scrolls {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
  }

  .layout__box.o__flexes-to-1 {
    flex: 1 1 auto;
  }

  .layout__box.o__flexes-to-5 {
    flex: 5 1 auto;
  }

  .layout__box.o__centers-horizontally {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
  }

  .layout__box.o__centers-vertically {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }

  .layout__box.o__centers-all {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
