@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "sidebar";
@import "controls";
@import "tooltip";

html#vemos-html,
body#vemos-body,
body,
body > .ember-view {
  margin: 0;
  padding: 0;
  min-height: 100%;
  box-sizing: border-box;
  color: #eee;
  font-family: sans-serif;
  font-size: 12px;
}

body#vemos-body > .ember-view {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}

.main-container {
  height: 100%;
  background-color: black;
  transition: background-color 500ms ease;
}

.main-container:hover {
  background-color: rebeccapurple;
}

.metrics-frame {
  height: 0 !important;
  display: none !important;
}
